<% @teams.all.each do |team| %>
  <p style=<%= "color:#{team.primary_color}" %>><%= link_to team.school, roster_team_path(team) %></p>
<% end %>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>