<div class="row">
  <% @conferences.all.each do |conference| %>
    <div class="col-md-4 conference-container">
      <h3><%= conference.name %></h3>
      <%= render "conference_table", teams: conference.teams %>
    </div>
  <% end %>
</div>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>